body 
{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav
 {
  overflow: hidden;
  background-color: #0047AB;
}

.topnav a 
{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover
{
  background-color: #ddd;
  color: black;
}

.topnav a.active 
{
  background-color: #04AA6D;
  color: white;
}

.topnav .icon
{
  display: none;
}

@media screen and (max-width: 600px) 
{
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px)
{
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/**bottom nav bar*/
.bottomnav
 {
  overflow: hidden;
  background-color:#0047AB;
  margin-top: 600px;
  height :50px;
}

.btext{padding-top: 15px;}


/* (A) PAGE WATERMARK */
#watermark 
{
  /* STICK AT BOTTOM RIGHT */
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 999; 
  /* TRANSPARENCY */
  opacity: 0.5; 
  /* COSMETICS */
  text-align: right;
  color: rgb(13, 0, 128);
}

.header img {
  float: left;
  width: 200px;
  height: 80px;
}
